:root {
  --bg: #111;
  --bgSec: #111;
  --bgThird: rgba(40, 40, 40, 0.8);
  --txt: #fff;
  --theme: #f5a317;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg);
  color: var(--txt);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Changa";
  src: local("Changa"),
    url("/assets/fonts/Changa/Changa-VariableFont_wght.ttf") format("truetype");
}
