:root {
  --bg: #111;
  --bgSec: #111;
  --bgThird: rgba(40, 40, 40, 0.8);
  --txt: #fff;
  --theme: #f5a317;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Changa;
  background-color: var(--bg);
  color: var(--txt);
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Changa";
  src: local("Changa"),
    url("/assets/fonts/Changa/Changa-VariableFont_wght.ttf") format("truetype");
}
