.Header {
  width: 100vw;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  z-index: 100;
  background-color: var(--bg);
}

.right {
  display: flex;
  gap: 1rem;
  font-size: 0.78rem;
  font-weight: 600;
  font-family: Changa;
  margin-top: 1.5rem;
}

.right > div:hover {
  text-shadow: rgba(249, 215, 126, 0.6) -1px -1px 6px,
    rgba(233, 198, 110, 0.6) 1px 1px 6px;
  transition: all 0.3s ease-in-out;
}

.btn,
.right > div {
  cursor: pointer;
}

.btn {
  position: relative;
  bottom: 0.7rem;
  height: 2.5rem;
  width: 10rem;
  font-size: 0.72rem;
  font-weight: 600;
  color: var(--txt);
  background-color: transparent;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--theme);
  transition: 0.8s;
}

.btn:hover,
.btn:focus {
  box-shadow: inset 10rem 0 0 0 var(--theme);
  color: #111111;
  border-color: var(--theme);
}
