.ParticleImage {
  height: 70vh;
  position: relative;
  top: 3rem;
  left: 2rem;
}

/* styling for first section */
.FirstSection {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 8rem;
  height: 86.5vh;
  width: 100vw;
}

.firstSectionRight {
  width: 35rem;
  position: relative;
  right: 11rem;
  top: 7rem;
}

.smTxt {
  position: relative;
  bottom: 4rem;
  font-family: Changa;
  font-size: 1rem;
  font-weight: 300;
}

.mediumTxt {
  font-family: Changa;
  font-size: 3rem;
  font-weight: 300;
  text-shadow: rgba(249, 215, 126, 0.6) -1px -1px 6px,
    rgba(233, 198, 110, 0.6) 1px 1px 6px;
}

.bigTxt {
  position: relative;
  bottom: 3rem;
  font-family: Changa;
  font-size: 6rem;
  font-weight: 600;
  text-shadow: rgba(249, 215, 126, 0.6) -1px -1px 6px,
    rgba(233, 198, 110, 0.6) 1px 1px 6px;
}

.bigBtn {
  position: relative;
  bottom: 2rem;
  height: 2.5rem;
  width: 23rem;
  font-size: 0.72rem;
  font-weight: 600;
  background-color: transparent;
  color: var(--txt);
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--theme);
  transition: 0.8s;
}

.bigBtn:hover,
.bigBtn:focus {
  box-shadow: inset 23rem 0 0 0 var(--theme);
  color: #111111;
  border-color: var(--theme);
}

/* styling for second section */
.SecondSection {
  padding: 0.5rem 3rem;
  margin-bottom: 10rem;
}

.secondHeading {
  font-size: 4rem;
  font-weight: 600;
  font-family: Changa;
  text-shadow: rgba(249, 215, 126, 0.6) -1px -1px 6px,
    rgba(233, 198, 110, 0.6) 1px 1px 6px;
}

.secondHeading > span {
  position: relative;
  bottom: 0.5rem;
  color: var(--theme);
  margin-right: 1rem;
}

/* styling for third section */
.ThirdSection {
  width: 100vw;
  padding: 0.5rem 3rem;
  margin-bottom: 15rem;
  overflow: hidden;
}

.thirdHeading {
  margin-bottom: 6rem;
}

.sponsor {
  display: flex;
  margin-top: 2rem;
  font-size: 1rem;
  font-family: Changa;
}

.sponsorDesc,
.sponsorImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65rem;
  height: 20rem;
  background-color: rgba(40, 40, 40, 0.95);
  border-radius: 1rem;
  padding: 2rem 5rem;
}

.sponsorDesc {
  left: 24rem;
  text-shadow: rgba(249, 215, 126, 0.3) -1px -1px 5px,
    rgba(233, 198, 110, 0.3) 1px 1px 5px;
}

.sponsorImg {
  right: 24rem;
  background-color: #fff;
}

/* styling for fourth section */
.FourthSection {
  padding-bottom: 50vh;
  padding: 0.5rem 3rem;
}

/* media queries max width 1400 */
@media (max-width: 1400px) {
  .FirstSection {
    padding: 0.5rem 4rem;
  }

  .firstSectionRight {
    top: 5rem;
  }

  .ParticleImage {
    top: 2rem;
  }

  .ThirdSection {
    padding: 0.5rem 6rem;
  }

  .sponsorDesc,
  .sponsorImg {
    border-radius: 1rem;
    padding: 2rem 5rem;
  }

  .sponsorDesc {
    left: 18.7rem;
    text-shadow: rgba(249, 215, 126, 0.3) -1px -1px 5px,
      rgba(233, 198, 110, 0.3) 1px 1px 5px;
  }

  .sponsorImg {
    right: 18.7rem;
    background-color: #fff;
  }
}

/* media queries max width 900 */
@media (max-width: 900px) {
  .ParticleImage {
    height: 55vh;
    top: 9rem;
    left: -7rem;
  }

  /* styling for first section */
  .FirstSection {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1.5rem;
  }

  .firstSectionRight {
    right: 15rem;
    top: 17rem;
  }

  .smTxt {
    bottom: 4rem;
    font-size: 1rem;
  }

  .mediumTxt {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .bigTxt {
    font-size: 4rem;
  }
}

/* media queries max width 480 */
@media (max-width: 480px) {
  .ParticleImage {
    height: 40vh;
    top: 0rem;
    left: 0rem;
  }

  /* styling for first section */
  .FirstSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    height: 86.5vh;
    width: 100vw;
  }

  .firstSectionRight {
    width: 100%;
    position: relative;
    right: 0rem;
    top: -3rem;
    text-align: center;
  }

  .smTxt {
    bottom: 4rem;
    font-size: 0.75rem;
  }

  .mediumTxt {
    font-size: 1.15rem;
    margin-bottom: 1.5rem;
  }

  .bigTxt {
    bottom: 3rem;
    font-size: 2.5rem;
  }

  .bigBtn {
    right: 0.4rem;
    bottom: 2.5rem;
    height: 2rem;
    width: 90%;
    font-size: 0.5rem;
  }

  .bigBtn:hover,
  .bigBtn:focus {
    box-shadow: inset 24rem 0 0 0 var(--theme);
  }

  .SecondSection {
    padding: 0.5rem 1rem;
    margin-bottom: 10rem;
  }

  .secondHeading {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: Changa;
    text-shadow: rgba(249, 215, 126, 0.6) -1px -1px 6px,
      rgba(233, 198, 110, 0.6) 1px 1px 6px;
  }

  .secondHeading > span {
    position: relative;
    bottom: -0.2rem;
    color: var(--theme);
    margin-right: 1rem;
  }
}
